
<header class="navbar-light navbar-sticky header-static border-bottom navbar-dashboard">
    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <a class="navbar-brand me-3" href="index.html">
                <img class="navbar-brand-item light-mode-item" src="assets/images/logo.svg" alt="logo">
                <img class="navbar-brand-item dark-mode-item" src="assets/images/logo-light.svg" alt="logo">
            </a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="text-body h6 d-none d-sm-inline-block">منو</span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll mx-auto">

                    <li class="nav-item"><a class="nav-link" href="/dashboard"><i class="bi bi-house-door me-1"></i>پیشخوان</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-pencil me-1"></i>دسته بندی</a>
                        <ul class="dropdown-menu" aria-labelledby="postMenu">
                            <li> <a class="dropdown-item" href="/dashboard/categories/create">ایجاد</a> </li>
                            <li> <a class="dropdown-item" href="/dashboard/categories/list">لیست</a> </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-users me-1"></i>کاربر</a>
                        <ul class="dropdown-menu" aria-labelledby="postMenu">
                            <li> <a class="dropdown-item" href="/dashboard/users/create">ایجاد</a> </li>
                            <li> <a class="dropdown-item" href="/dashboard/users/list">لیست</a> </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-users me-1"></i>اخبار</a>
                        <ul class="dropdown-menu" aria-labelledby="postMenu">
                            <li> <a class="dropdown-item" href="/dashboard/content/create">ایجاد</a> </li>
                            <li> <a class="dropdown-item" href="/dashboard/content/list">لیست</a> </li>
                            <li> <a class="dropdown-item" href="/dashboard/comments">لیست نظرات</a> </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-users me-1"></i>تنظیمات</a>
                        <ul class="dropdown-menu" aria-labelledby="postMenu">
                            <li> <a class="dropdown-item" href="/dashboard/setting">مدیریت سایت</a> </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="nav flex-nowrap align-items-center">
                <div class="nav-item ms-2 ms-md-3 dropdown">
                    <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt="avatar">
                    </a>

                    <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                        <li class="px-3">
                            <div class="d-flex align-items-center">
                                <div class="avatar me-3">
                                    <img class="avatar-img rounded-circle shadow" src="assets/images/avatar/03.jpg" alt="avatar">
                                </div>
                                <div>
                                    <a class="h6 mt-2 mt-sm-0" href="#"> علیرضا مرادی</a>
                                    <p class="small m-0">example@gmail.com</p>
                                </div>
                            </div>
                            <hr>
                        </li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-person fa-fw me-2"></i>ویرایش</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-power fa-fw me-2"></i>خروج</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
