@using TB.UI.Shared.Site.BaseComponents
@inherits LayoutComponentBase

@if (SiteData != null)
{
    <Header Data="SiteData" />
}

<main class="position-relative main">
    @if (!showSite)
    {
        <div class="loader text-center pt-5">
            <div class="spinner-border text-primary mt-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    @Body
</main>

@if (SiteData != null)
{
    <Footer Data="SiteData" />
}

<style>
    .main{
        min-height:500px;
    }
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        height: 100%;
        width: 100%;
        z-index: 9999;
    }
</style>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />