@using TB.UI.Shared.Site.BaseComponents
@inherits LayoutComponentBase

@if (SiteData != null)
{
    <Header Data="SiteData" />
}
<main>
    @Body
</main>

@if (SiteData != null)
{
    <Footer Data="SiteData" />
}

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />